{% extends "base.html" %}
{% block header %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

{% block content %}

<h1 style="color:red"> IV curve </h1>
<div style="font-size:large;">
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Status</label>
        <label style="width:600px; float: left;" id="iv_status">js not running</label>
        <br/>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;"> &nbsp;</label>
        <label style="width:600px; float: left;" id="iv_message">js not running</label>
        <br/>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Start  voltage</label>
        <input type="number" step="1" id="iv_v0" value="0"></input>
        <br/>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Stop  voltage</label>
        <input type="number" step="1" id="iv_v1" value="350"></input>
        <br/>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Voltage step</label>
        <input type="number" step="1" id="iv_vstep" value="10"></input>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">T idle [s]</label>
        <input type="number" step="0.1" id="iv_t_idle" value="0.1"></input>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Correction</label>
        <label id="correction_label">js not running</label>
    </div>
    <div style="display:block; height:25px">
        <label style="width:150px; float: left;">Load calibration</label>
            <select id = "config_file_select" onchange="get_config_list()">
              {% for file_name in calib_file_list %}
                <option {% if file_name==selected_file %} selected {% endif %}>{{file_name}}</option>
              {% endfor %}
            </select>

            <select id = "calib_select" onchange="enable_load()">
                {% for config_name in calibration_list %}
                <option {% if config_name==selected_calib %} selected {% endif %}>{{config_name}}</option>
              {% endfor %}
            </select>
        <button id="load_correction" disabled onclick="load_correction()">Load</button>
    </div> <br/>

    <button id="start_iv" style="width:110px;" disabled onclick="start_iv()">Start IV</button> &nbsp <button id="stop_iv" style="width:110px" disabled onclick="stop_iv()">Stop IV</button> &nbsp <button id="clear_error" style="width:110px" disabled onclick="clear_error()">Clear error</button>  &nbsp  <button id="calibrate" style="width:110px;" disabled onclick="calibrate()">Calibrate</button> &nbsp  <button id="clear_calibration" style="width:110px;" onclick="calibrate_offsets()">Calib offsets</button>
    
</div>

<div id="plot"></div>

<div id="link_div">
    <a href="test">Hello</a>
</div>
<!-- <button id="download_raw" style="width:150px;" disabled onclick="download_raw()">Download raw data</button> &nbsp <button id="download_processed" style="width:150px" disabled onclick="download_processed()">Download processed data</button> -->
{% endblock %}


{% block footer %}
<script type="text/javascript" src="{{url_for('static',filename='iv_controller.js')}}"></script>
{% endblock %}

